.tweetList {
  height: max-content;
  display: inline-block;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 3px;
  background-color: #fff;
  width: 800px;
  margin-bottom: 60px !important;
}

#input_tweet {
  background-color: #e8f5fd;
  height: 55px;
}

// .mb-5 {
//   margin-bottom: 500px !important;
// }
