// @import '../../styles/main.scss'

.profileBar {
  display: inline-block;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 3px;
  background-color: #fff;
  width: 300px;
  height: max-content;
}
